</div>
<footer class="footer">
    <p class="footer__text">© <span class="year">2024</span> made by Eric</p>
</footer>


<script>
    function getCurrentYear() {
        return new Date().getFullYear();
    }

    document.querySelector('.year').textContent = getCurrentYear();
</script>
</body>

</html>