<%- include('partials/header'); %>

    <div class="body container mt-4">
        <h1 class="post-title">
            <%= aboutTitle %>
        </h1>
        <p>
            <%= aboutContent %>
        </p>

    </div>

    <%- include('partials/footer'); %>