<%- include('partials/header'); %>

    <div class="body container mt-4">
        <h1 class="page-title">Compose</h1>

        <form action="/compose" method="post">
            <label for="publish" class="post-subtitle">Title</label>
            <input type="text" name="publish" id="publish" class="container post-publish" autocomplete="off">
            <label for="post" class="post-subtitle">Post</label>
            <textarea name="post" id="post" class="container text-area" autocomplete="off"></textarea>
            <button type="submit" class="post-btn btn btn-primary">Publish</button>
        </form>

    </div>

    <%- include('partials/footer'); %>