<%- include('partials/header'); %>

    <div class="body container mt-4">
        <h1 class="page-title">Compose</h1>

        <form action="/compose" method="post">
            <input type="text" name="publish" id="publish" class="post-publish">
            <button type="submit" class="post-btn">Publish</button>
        </form>

    </div>

    <%- include('partials/footer'); %>