<%- include('partials/header'); %>

    <div class="body container mt-4">
        <h1 class="page-title">Compose</h1>
        <input type="text" name="publish" id="publish">
        <button type="submit" class="post-btn">Publish</button>

    </div>

    <%- include('partials/footer'); %>