<%- include('partials/header'); %>

    <div class="container new-post">
        <h1 class="page-title">Compose</h1>

        <form action="/compose" method="post">
            <label for="postTitle" class="post-subtitle">Title</label>
            <input type="text" name="postTitle" id="postTitle" class="container post-publish" autocomplete="off">
            <label for="postBody" class="post-subtitle">Post</label>
            <textarea name="postBody" id="postBody" class="container text-area" autocomplete="off"></textarea>
            <button type="submit" class="post-btn btn btn-primary">Publish</button>
        </form>

    </div>

    <%- include('partials/footer'); %>