<%- include('partials/header'); %>

    <div class="body container mt-4">
        <h1 class="post-title">
            <%= contactTitle %>
        </h1>
        <p>
            <%= contactContent %>
        </p>

    </div>

    <%- include('partials/footer'); %>