<%- include('partials/header'); %>

    <div class="body container mt-4">
        <h1>Home</h1>
        <p>
            <%= homeStartingContent %>
        </p>
    </div>

    <%- include('partials/footer'); %>