<%- include('partials/header'); %>

    <div class="posts container mt-4">
        <h1 class="page-title">
            <%= postTitle %>
        </h1>
        <p>
            <%= postBody %>
        </p>
    </div>



    <%- include('partials/footer'); %>