@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Pinyon+Script&family=Syne:wght@400..800&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-container {
  flex: 1; /*pus footer to bottom of page */
}

.header {
  background-color: #f0ebeb;
  padding: 0;
  margin: 0;
  font-family: "Geist", sans-serif;
}

.header__title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: rgb(88, 88, 88) !important;
  font-weight: 500;
}

.nav__item-link {
  color: rgb(88, 88, 88) !important;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.nav__item-link:hover {
  color: #78e6c1 !important;
}

.page-title {
  font-family: "Geist", sans-serif;
  font-weight: 500;
}

.post-btn {
  border: none;
  border-radius: 2px;
  height: 30px;
}
.post-btn:hover {
  transition: all 0.3s ease;
}

.post-publish {
  outline-color: #78e6c1;
}
.post-publish:focus {
  background-color: #f8ffb9;
  border: none;
}

.text-area {
  outline-color: #78e6c1;
  height: 100px;
}
.text-area:focus {
  background-color: #f8ffb9;
}

.post-subtitle {
  font-family: "Geist" sans-serif;
  font-weight: 500;
  color: rgb(10, 10, 10) !important;
}
.footer {
  height: 60px;
  display: flex;
  width: 100%;
  background-color: #29c591;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-transform: capitalize;
  color: white;
}

.footer__text {
  margin: 0;
}
